.modal {
  width: 100%;
  margin-top: 10rem;
  position: fixed;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Silkscreen", cursive;
}
.box {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
