.img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
}
.background {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  margin: 0;
  padding: 0.7rem;
  text-align: center;
  background-color: yellow;
  position: fixed;
  width: 100%;
  top: 0; /* Add this line to fix the element at the top */
  z-index: 5;
}

.score {
  display: flex;
  justify-content: space-around;
}
.game {
  width: 80%;
  height: 100vh;
  position: relative;
}

.music {
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 40;
  top: 1rem;
  left: 1rem;
  padding: 5px;
  border-radius: 50%;
  border: none;
  font-size: 1.5rem;
  background-color: white;
  border: solid 2px black;
}
.music:active {
  background-color: gray;
}

.musicPaused {
  background-color: rgb(143, 143, 143);
}

/* @media (max-width: 700px) {
  video {
    object-fit: cover;
  }
} */
